.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style {
  margin-bottom: 20px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 5rem;
}
.style:hover {
  color: white;
}

.imgSize {
  width: 300px;
  height: auto;
  transition: all ease-in-out 0.8s;
}
.imgSize:hover {
  transform: scale(1.1);
}
.gitstats {
  display: flex;
  justify-content: space-evenly;
  padding: 1.9rem;
  background-image: linear-gradient(#dcdde1, #8c7ae6, #7f8fa6);
  flex-wrap: wrap;
}
.imgSizes {
  width: 470px;
  margin: 5px;
  height: auto;

  border: 2px solid orange;
}

@keyframes animateAnswer {
  to {
    opacity: 1;
  }
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .faqs__container {
    grid-template-columns: 1fr;
  }
  /* .gitstats {
    flex-direction: column;
  } */
  .imgSizes {
    width: 100%;
    margin: 5px;
    height: auto;
    border: 2px solid orange;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .faqs__container {
    gap: 1rem;
  }
  .img-container {
    flex-direction: column;
  }
  .imgSize {
    width: 150px;
    height: auto;
  }
  .style {
    font-weight: bold;
    font-size: 3rem;
  }
  .imgSizes {
    width: auto;
    height: auto;
    margin: 7px;
  }
  .gitstats {
    flex-direction: column;
    padding: 0px;
    flex-wrap: nowrap;
  }
}
